*{
    padding:0;
    margin:0;
}
body{
    width:100%;
    height:100%;
}
.Allproducts{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:30px;
    /* border:1px solid black */
    /* overflow: hidden; */
}
.prod-image{
    width:100px;
    height:100px
}
.prod{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    border:1px solid black
}
.btns{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.pr-btn{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc{
    width:100%;

}